header {
    position: fixed;
	top: 0;
    left: 0;
    right: 0;
	z-index: 30;
	background-color: #94652d;
	width: 100%;
}

.wrapper__headerContent div, .wrapper__headerContent, .header__find-line form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main{margin-top:50px;min-height:100%;}
.wrapper__headerContent {
    padding: 0 15px;
    height: 50px;
}

.wrapper__headerContent img {height: 40px;}

/* === Logo ===*/

.header__logo_imgWrap img {height: 60px;}

.header__logo_name {
	color: #f3f3f3;
    font-size: 40px;
    padding: 6px 0 0 15px;
}

/* === Find Line === */

.header__findLine form {display: flex;}

.header__findLine input {
    max-width: 250px;
    height: 50px;
    font-size: 30px;
    padding: 14px;
    padding-left: 20px;

    border-right: 1px solid #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.header__findLine button {
    height: 50px;
    padding: 0 10px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: #fff;
}
.header__findLine_button:hover {background-color: #e3e3e3;}
.header__findLine_button:active {background-color: #d4d4d4;}

.header__button_popup {cursor: pointer;}
.header__button_popup:hover {}
.header__button_popup:active {}

.header__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 700ms;
    visibility: hidden;
    opacity: 0;
}

.header__cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.header__overlay:target {
    visibility: visible;
    opacity: 1;
}

.header__popup input {
    margin-right: 15px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    appearance: none;
    box-shadow: none;
    font-size: inherit;
    padding: 5 30px 5px 0px;
    font-size: 22px;
    outline: none 0px;
}
.header__popup button {background-color: #fff;}
.header__popup {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #666;
    width: 100%;

}
.header__buttons div {margin-left: 20px;}
.header__buttons div:nth-child(1) {display: none;}
.header__basked, .header__favorite {position: relative;}
.header__basked .header__count,
.header__favorite .header__count {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background-color: #f5c002;
    border-radius: 7px;
    color: #333;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    width: 16px;height: 16px;
    margin: 0;
    padding: 3px;
}
/*===============*/
/*@media(max-width:800px)*/
.wrapper__headerContent img {height: 30px;}
.header__logo_imgWrap img {height: 40px;}
.header__logo_name {font-size: 24px;}
.header__findLine input {
    height: 30px;
    font-size: 20px;
    max-width: 150px;
}
.header__findLine button {height: 30px;}
/*=======================*/
@media(max-width: 560px) {
    .wrapper__headerContent img {height: 30px;}
    .header__logo_name {font-size: 16px;}
    .header__findLine input {
        height: 30px;
        font-size: 20px;
        max-width: 150px;
    }
    .header__findLine button {height: 30px;}
    .wrapper__headerContent {height: 50px;}
    .header__buttons div:nth-child(1) {
        display: block;
        margin: 0;
    }
    .wrapper__headerContent .header__findLine {display: none;}
}