<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home-Service - [[${product.name}]]</title>
	<th:block th:insert="~{commons/head :: copy}"></th:block>
	<link rel="stylesheet" href="/resource/com/css/slider.css">
	<link rel="stylesheet" href="/resource/com/css/tab.css">

	<link rel="stylesheet" href="/resource/cardProduct/style.css">
</head>

<body>
	<th:block th:insert="~{commons/header :: copy}"></th:block>

	<main>
		<div class="container">
			<div class="main__wrapper">

				<div class="main__wrapperPath">
					<div class="path">
						<a href="/">Главная</a> >
						<th:block th:each="cat : ${categories}">
							<a th:href="/ + ${cat.name}" th:text="${cat.name}"></a> >
						</th:block>
						<span th:text="${product.name}"></span>
					</div>
				</div>

				<div class="main__nameProduct"><h1 th:text="${product.name}"></h1></div>
				<div class="main__isInStock" th:text="${product.status}" th:attr="color=${product.color}">В наличии</div>
				<div class="main__wrapper_PhotoPrice">

					<div class="main__wrapperPhoto">
						<div class="sim-slider">
							<ul class="sim-slider-list">
								<li><img src="http://pvbk.spb.ru/inc/slider/imgs/no-image.gif" alt="screen"></li> <!-- это экран -->
								<th:block th:each="img : ${product.images}">
									<li class="sim-slider-element"><img th:src="/resource/img/ + ${img}" th:alt="${img.odd}? 'odd'"></li>
								</th:block>
							</ul>
							<div class="sim-slider-arrow-left"></div>
							<div class="sim-slider-arrow-right"></div>
							<div class="sim-slider-dots"></div>
						</div>
					</div>

					<div class="main__wrapperPriceInfo">
						<div class="main__wrapperPrices">
							<span class="main__PriceTitle">Цены:</span>
							<div class="main__optPrices">
								<th:block th:each="price : ${product.optPrices}">
									<div>От <span th:text="${price.minCount}">1</span> шт<br><span th:text="${price.money}">30</span> грн</div>
								</th:block>
							</div>
						</div>

						<div class="main__wrapperPrice_buttons">
							<div class="main__favoriteWrap">
								<label class="switch" th:checked="${product.isFavorite}">
									<input type="checkbox">
									<span></span>
								</label>
								<div th:attr="idProduct=${product.id}" class="button">Добавить в корзину</div>
							</div>
							<div>
								<div class="quantity">
									<span class="minus" id="q_down">-</span>
									<input type="text" name="quantity" id="quantity_wanted" size="2" value="1">
									<span class="plus" id="q_up">+</span>
								</div>

								<div th:attr="idProduct=${product.id}" class="button">Купить без корзины</div>
							</div>
							<div><span id="fullPrice" th:text="${product.singlePrice.money}"></span> грн</div>
						</div>
					</div>

				</div>

				<div class="main__wrapperTabInfo">
					<div class="tab-frame">
						<input type="radio" name="tab" id="tab1" checked>
						<label for="tab1">Описание</label>
						<input type="radio" name="tab" id="tab4">
						<label for="tab4">Доставка/Оплата</label>

						<div class="tab"></div>
						<div class="tab"></div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<th:block th:insert="~{commons/footer :: copy}"></th:block>
	<script type="text/javascript" src="resource/com/js/shop.js"></script>
	<script type="text/javascript" src="resource/com/js/slider.js"></script>
</body>
</html>