<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Главная</title>
		<link rel="shortcut icon" type="image/x-icon" href="/resource?path=commons%2Fimg%2Ffavicon.ico">
		<link rel="stylesheet" href="resource/com/css/nulling_style.css">

		<link rel="stylesheet" href="resource/style/main">
		<link rel="stylesheet" href="resource/com/css/header.css">
	</head>
	
	<body>
		<th:block  th:insert="~{commons/header :: copy}"></th:block>

		<main class="container">

			<div th:each="product : ${products}">
				<div>
					<div th:text="${product.id}"></div>
					<div th:text="${product.name}"></div>
					<div th:text="${product.description}"></div>
					<div th:each="price : ${product.optPrices}">
						<div th:text="${price.money}"></div>
						<div th:text="${price.penny}"></div>
					</div>
				</div>
			</div>
			<img href="favicon.ico" alt="ff">
			<img href="/favicon.ico" alt="ff">
			<img src="favicon.ico" alt="ff">
			<img src="/favicon.ico" alt="ff">

		</main>

		<th:block  th:insert="~{commons/footer :: copy}"></th:block>
	</body>
</html>