<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Home-Service - Таблица заказов</title>
   <th:block th:insert="~{commons/head :: copy}"></th:block>
   <link rel="stylesheet" href="/resource/log/css/styles.css">
</head>

<body>
   <th:block th:insert="~{commons/header :: copy}"></th:block>
   <main>
      <div class="container" th:each="order : ${orders}">
         <div style="border-bottom: 1px solid #000; padding-bottom:7px;">
            <span th:text="${log.date}"></span> : [[${log.text}]]
         </div>
      </div>
   </main>
   <th:block th:insert="~{commons/footer :: copy}"></th:block>
</body>
</html>