<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="copy">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width">
            <link rel="shortcut icon" type="image/x-icon" href="/resource?path=commons%2Fimg%2Ffavicon.ico">
            <link rel="stylesheet" href="/resource/com/css/nulling_style.css">
            <link rel="stylesheet" href="/resource/com/css/header.css">
            <link rel="stylesheet" href="/resource/com/css/footer.css">
        </th:block>
    </body>
</html>

