.prod {
    display:flex;
    justify-content:flex-start;
    padding: 10px;
    border-top: #b1adad solid 1px;
    border-left: #b1adad solid 1px;
    border-right: #b1adad solid 1px;
    background-color:#f6f6f6;
}
.prod:last-child {
    border: #b1adad solid 1px;
}

.title {
    margin: 15px 0;
    font-weight:bold;
    font-size: 20px;
}
.myForm input, .myForm textarea, select {
    border: #b1adad solid 1px;
    padding:10px;
    margin-top: 10px;
    background-color:#f6f6f6;
}
.myForm textarea {
    resize: none;
    height: 120px;
    margin: 15px 0;
}
.in {width:50%;}
.myForm button {
	padding: 15px 30px;
	background-color:#d52f2f;
	color:#f9f8f2;
	font-size:24px;
}
.myForm button:hover {
	background-color:#a91a1a;
}
.myForm, input, textarea {
    font-size:18px;
}
.delivery a {
    display:block;
    margin-top:10px;
    color: #88508e;
}
.delivery {display:none;}
#delivery1:checked~.deliveryNewPostDepartment,
#delivery2:checked~.deliveryNewPostCourier,
#delivery3:checked~.deliveryUkrPost {display: block;}

.myForm input[err], .myForm textarea[err] {
    border: #ff0000 solid 2px;
}