<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Home-Service - Регистрация</title>
		<link rel="shortcut icon" type="image/x-icon" href="/resource?path=commons%2Fimg%2Ffavicon.ico">
		<link rel="stylesheet" href="resource/com/css/nulling_style.css">
		<link rel="stylesheet" href="resource/style/registration">
	</head>
	
	<body>

	<form method="POST" action="/registration">
		<h2>Регистрация</h2>
		<div><input type="text" name="login" placeholder="Email" th:value="${username}" autofocus="true"></div>
		<div><input type="password" name="password" placeholder="Пароль" th:value="${password}"></div>
		<div><input type="password" name="passwordConfirm" placeholder="Повторите пароль" th:value="${passwordConfirm}"></div>
		<div th:if="${passwordError != ''}" th:text="${passwordError}"></div>
		<div th:if="${emailError != ''}"    th:text="${emailError}"></div>
		<div th:if="${massageError != ''}"  th:text="${massageError}"></div>
		<button type="submit">Зарегистрироваться</button>
	</form>
		
	</body>
</html>