<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Home-Service - Создать Новый Товар</title>
   <th:block th:insert="~{commons/head :: copy}"></th:block>

   <link rel="stylesheet" href="/resources/com/css/tab.css">
   <link rel="stylesheet" href="/resource/createProduct/css/styles.css">
</head>

<body>
<th:block  th:insert="~{commons/header :: copy}"></th:block>

<main>
   <div><a href="/admin">Панель администратора</a></div>
   <form action="/admin/createProduct" enctype="multipart/form-data" method="post">
      <div class="container pad">
         <div>
            <input type="text" name="name" placeholder="Название товара" th:value="${name}">
         </div>

         <div>
            <select class="pad" name="categoryId">
               <option selected> - Выберите Категорию - </option>
               <th:block th:each="cat : ${categories}">
                  <option th:value="${cat.id}" th:text="${cat.name}"></option>
               </th:block>
            </select>
         </div>

         <div class="setIsPublic">
            <input id="isPublic" type="checkbox" name="isPublic" checked>
            <label for="isPublic">Опубликовать сразу? (Неопубликованные товары можно опубликовать позже)</label>
         </div>

         <div>
            <div>Файлы фото:</div>
            <input type="file" name="images[]" multiple>
            <div th:if="${fileError != null}" th:text="${fileError}"></div>
         </div>

         <div>
            <div>Оптовые цены</div>
            <div th:if="${priceWrong != null}">Какая-то ошибка в ценах: [[${priceWrong}}]]</div>
            <div class="prices">
               <div>
                  <input type="text" placeholder="количество 1" name="count_1" value="1" disabled>
                  <input type="text" placeholder="цена 1 (только целые)" name="price_1">
               </div>
               <div>
                  <input type="text" placeholder="количество 2" name="count_2">
                  <input type="text" placeholder="цена 2 (только целые)" name="price_2">
               </div>
               <div>
                  <input type="text" placeholder="количество 3" name="count_3">
                  <input type="text" placeholder="цена 3 (только целые)" name="price_3">
               </div>
            </div>
         </div>

         <div class="main__wrapper">
            <div class="main__wrapperTabInfo">
               <div class="tabs">
                  <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                  <label for="tab-btn-1">
                     <span>Описание</span>
                  </label>
                  <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                  <label for="tab-btn-2">
                     <span>Характеристики</span>
                  </label>

                  <div id="content-1">
                     <textarea class="pad" tabindex="3" name="description" placeholder="Описание" cols="20" rows="5" th:value="${description}"></textarea>
                  </div>
                  <div id="content-2">
                     <div>Для переноса текста на новую строку нужно добавить &lt;br&gt;</div>
                     <textarea class="pad" tabindex="3" name="characteristics" placeholder="Характеристики" cols="20" rows="5" th:value="${description}"></textarea>
                  </div>
               </div>
            </div>
         </div>
         <button type="submit">Опубликовать</button>
      </div>
   </form>
</main>
<th:block  th:insert="~{commons/footer :: copy}"></th:block>
</body>
</html>