main .container div,
main .container div *
{
    margin: 10px 0;
    width: 100%;
}
.setIsPublic {
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.pad, input{padding:10px;}
.prices div input {
    width: 45%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}