<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
   <a th:href="'/product/' + ${product.id}" th:fragment="product">
      <div class="product">
         <div>
            <div class="img"><img th:src="'/ProductImages/' + ${product.mainImg}" alt="Фото"></div>
            <div class="wrap_infoAndFavorite pm">
               <div class="info">
                  <div class="name" th:text="${product.name}"></div>
<!--                  <div class="isInStock" th:text="${product.status}" th:attr="color=${product.color}">В наличии</div>-->
               </div>
               <div class="favoriteWrap">
                  <label class="switch">
                     <input type="checkbox" int="buttonFavorite" th:attr="idProduct=${product.id}" th:checked="${product.isFavorite()}">
                     <span></span>
                  </label>
               </div>
            </div>
            <div class="price">[[${product.singlePrice.money}]] грн</div>
         </div>
         <div>
            <div class="button pm to-slider">Подробнее</div>
         </div>
      </div>
   </a>
</body>
</html>

