<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Home-Service - Вход</title>
   <th:block th:insert="~{commons/head :: copy}"></th:block>
   <link rel="stylesheet" href="/resource/login/style.css">
</head>

<body>
   <th:block  th:insert="~{commons/header :: copy}"></th:block>

   <main>
      <div class="wrapper">
         <form action="/j_spring_security_check" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="form-control" name="j_username" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" name="j_password" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
         </form>
      </div>
      <div th:if="${param.error}">
         <div class="alert alert-danger">
            Invalid username and password.
         </div>
      </div>
      <div th:if="${param.logout}">
         <div class="alert alert-info">
            You have been logged out.
         </div>
      </div>
   </main>

   <th:block  th:insert="~{commons/footer :: copy}"></th:block>
</body>
</html>