body {
    font-family: arial;
    font-size: 16px;

    background-color: #f3f3f3;
}

.conteiner {
    max-width: 1220px;
    margin: 0 auto;
}

/*=========   main   ==========*/

main {
    margin-top: 60px;
    min-height: 100%;
}

.main__content {
    padding: 20px;
}
.main__wraperPath {font-size: 18px;}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.products a {
	color: #000;
}

.product {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    border: 1px solid #bababa;
    padding: 15px;
    background-color: #e3e3e3;
    text-align: center;
    margin-bottom: 0;
}

.img, .img img {width: 100%;}
.info {
    text-align: left;
}
.name {
    font-size: 16px;
    font-weight: bold;
}
.price {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.price span {
    text-decoration:line-through;
    font-size: 14px;
    color: #9c9c9c;
}

.pm {margin-top: 15px;}
.pb {padding: 7px;}
.isInStock[true] {color: #b09b00;}
.isInStock[false] {color: #a6113b;}

.button {
    cursor: pointer;
    border: 1px solid #74a1a6;
    background-color: #9bccd1;
    transition: background-color 0.15s linear;
}
.button:hover {background-color: #cea783;}
.button:active {background-color: #a7876b;}
/*======================*/

.wrap_infoAndFavorite {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/*===   favorite   ===*/
.switch {display: block;}
.switch input {display:none;}
.switch span {
    margin-left: 10px;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-size: 40px;
    background-image: url('../img/baseline-favorite_border-24px.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.switch input:checked + span {background-image: url('../img/baseline-favorite-24px.svg');}

/*======================*/

@media(max-width: 940px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 768px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .main__content {
        padding: 8px;
    }
    .product {
        font-size: 14px;
        padding: 8px;
    }
}
@media(max-width: 500px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}



/*=========   footer   ==========*/

footer {
    background-color: #313131;
    color: #f3f3f3;
}
.wraper__footerContent {
    padding: 20px;
    min-height: 60px;
}