<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Home-Service - Вход</title>
   <th:block th:insert="~{commons/head :: copy}"></th:block>
   <link rel="stylesheet" href="/resource/login/css/styles.css">
</head>

<body>
   <th:block  th:insert="~{commons/header :: copy}"></th:block>

   <main>
      <div class="wrapper">
         <form action="/j_spring_security_check" method="post">
            <h2 class="form-signin-heading cen">Вход</h2>
            <div class="material-textfield blue">
               <input type="text" class="form-control" name="j_username" required autofocus>
               <label data-content="email">EMAIL</label>
            </div>
            <div class="material-textfield red">
               <input type="password" class="form-control" name="j_password" required>
               <label data-content="password">PASSWORD</label>
            </div>
            <div>
               <button class="btn cen" type="submit">ВОЙТИ</button>
            </div>
         </form>
      </div>
      <div class="cen" th:if="${param.error}">
         <div class="alert alert-danger">
            Логин или пароль не верный.
         </div>
      </div>
      <div class="cen" th:if="${param.logout}">
         <div class="alert alert-info">
            Вы вышли из аккаунта.
         </div>
      </div>
   </main>

   <th:block  th:insert="~{commons/footer :: copy}"></th:block>
</body>
</html>