<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Home-Service - Создать Новый Товар</title>
   <th:block th:insert="~{commons/head :: copy}"></th:block>

   <link rel="stylesheet" href="/resource/com/css/tab.css">
   <link rel="stylesheet" href="/resource/createProduct/style.css">
</head>

<body>
<th:block  th:insert="~{commons/header :: copy}"></th:block>

<main>
   <form action="/admin/createProduct" enctype="multipart/form-data" method="post">
      <div class="container">
         <div>
            <input type="text" name="name" placeholder="Название товара" th:value="${name}">
         </div>
         <div>
            <!-- style="resize: none;"-->
            <textarea  tabindex="3" name="description" id="" placeholder="Описание" cols="20" rows="5" th:value="${description}"></textarea>
         </div>
         <div>
            <select name="categoryId">
               <option selected> - Выберите Категорию - </option>
               <th:block th:each="cat : ${categories}">
                  <option th:value="${cat.id}" th:text="${cat.name}"></option>
               </th:block>
            </select>
         </div>
         <div>
            <input id="isPublic" type="checkbox" name="isPublic" checked>
            <label for="isPublic">Опубликовать сразу?</label>
         </div>

         <div>
            <div>Файлы фото:</div>
            <input type="file" name="images[]" multiple>
         </div>

         <div>
            <div>Оптовые цены</div>
            <div th:if="${priceWrong != null}">Какая-то ошибка в ценах [[${priceWrong}}]]</div>
            <div>
               <div>
                  <input type="text" placeholder="количество 1" name="count_1">
                  <input type="text" placeholder="цена 1 (только целые)" name="price_1">
               </div>
               <div>
                  <input type="text" placeholder="количество 2" name="count_2">
                  <input type="text" placeholder="цена 2 (только целые)" name="price_2">
               </div>
               <div>
                  <input type="text" placeholder="количество 3" name="count_3">
                  <input type="text" placeholder="цена 3 (только целые)" name="price_3">
               </div>
            </div>
         </div>

         <div class="main__wrapper">
            <div class="main__wrapperTabInfo">
               <div class="tab-frame">
                  <input type="radio" name="tab" id="tab1" checked>
                  <label for="tab1">Описание</label>
                  <input type="radio" name="tab" id="tab4">
                  <label for="tab4">Доставка/Оплата</label>

                  <div class="tab"></div>
                  <div class="tab"></div>
               </div>
            </div>
         </div>
         <button type="submit"></button>
      </div>
   </form>
</main>
<th:block  th:insert="~{commons/footer :: copy}"></th:block>
</body>
</html>