<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Home-Service - Таблица заказов</title>
   <th:block th:insert="~{commons/head :: copy}"></th:block>
   <link rel="stylesheet" href="/resource/createCategory/css/styles.css">
</head>

<body>
   <th:block th:insert="~{commons/header :: copy}"></th:block>
   <main>
      <div class="container">
         <div><a href="/admin" class="cen">Панель администратора</a></div>

         <form action="/admin/createCategory" enctype="multipart/form-data" method="post">
            <div><input class="cen" type="text" name="name" tabindex="1" placeholder="Название категории" th:value="${name}"></div>

            <div class="cen">
               <div>Фото для категории:</div>
               <input type="file" name="image" tabindex="2">
            </div>
            <div class="setIsPublic">
               <div class="cen">
                  <div>
                     <input id="isForProduct" type="radio" name="isForProduct" value="true" tabindex="3" checked>
                     <label for="isForProduct">Категория для товаров</label>
                  </div>
                  <div>
                     <input id="isForCat" type="radio" name="isForProduct" value="false" tabindex="3">
                     <label for="isForCat">Категория для других категорий</label>
                  </div>
               </div>
               <div class="cat_list cen">
                  <select name="parentId" tabindex="4">
                     <option selected> - Выберите родительскую категорию - </option>
                     <th:block th:each="cat : ${categories}">
                        <option th:value="${cat.id}" th:text="${cat.name}"></option>
                     </th:block>
                  </select>
               </div>
            </div>
            <button class="button cen" type="submit" tabindex="5">Создать</button>
         </form>
      </div>
   </main>
   <th:block th:insert="~{commons/footer :: copy}"></th:block>
</body>
</html>